# ========================
# Database config (secret)
# ========================
**/db.properties
**/application.properties
**/.env

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml
*.iws

# ========================
# Build folders
# ========================
target/
build/
out/
.gradle/

# ========================
# Logs
# ========================
*.log

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db