.welcome-text h1 i {
    animation: heartbeat 2s ease-in-out infinite;
}

.btn-remove-wishlist {
    z-index: 2;
}

.wishlist-item {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wishlist-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-remove-wishlist:hover {
    background-color: #e74c3c !important;
    color: white !important;
}